# Aloes-docker is a process manager to deploy aloes ecosystem

# Copyright 2019 Edouard Maleix

# Aloes-docker is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
#  any later version.

# Aloes-docker is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with Aloes-docker. If not, see <https://www.gnu.org/licenses/>.

version: '3.7'

networks:
  skyring:
    driver: bridge
  aloes:
    driver: overlay

services:
  mongo:
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_COLLECTION}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ADMIN_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ADMIN_PASSWORD}
      - MONGO_INITDB_USERNAME=${MONGO_USER}
      - MONGO_INITDB_PASSWORD=${MONGO_PASS}
    image: mongo:4.1.13
    restart: always
    volumes:
      - ./config/mongo/mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
      - mongovolume:/data/db
    networks:
      - aloes

  influxdb:
    environment:
      - INFLUXDB_DB=${INFLUX_COLLECTION}
      - INFLUXDB_ADMIN_ENABLED=${INFLUX_ADMIN_ENABLED}
      - INFLUXDB_ADMIN_USER=${INFLUX_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUX_ADMIN_PASSWORD}
      - INFLUXDB_USER=${INFLUX_USER}
      - INFLUXDB_USER_PASSWORD=${INFLUX_PASS}
    image: influxdb:1.7-alpine
    restart: always
    volumes:
      - influxvolume:/var/lib/influxdb
    networks:
      - aloes

  redis:
    image: redis:5-alpine
    restart: always
    volumes:
      - redisvolume:/data
      - ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - aloes
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']

  timer-1:
    build:
      context: https://github.com/esatterwhite/skyring.git#master
    image: aloes/timer-api:latest
    hostname: timer-1
    restart: always
    environment:
      - DEBUG=*
      - channel__host=timer-1
      - nats__hosts=nats-a:4222,nats-b:4222,nats-c:4222
      - seeds=timer-1:3455,timer-2:3456
      - storage__backend=leveldown
      - storage__path=/var/data/skyring
    networks:
      - skyring
    depends_on:
      - nats-a
      - nats-b
      - nats-c

  timer-2:
    build:
      context: https://github.com/esatterwhite/skyring.git#master
    image: aloes/timer-api:latest
    hostname: timer-2
    restart: always
    environment:
      - DEBUG=*
      - channel__host=timer-2
      - channel__port=3456
      - nats__hosts=nats-a:4222,nats-b:4222,nats-c:4222
      - seeds=timer-1:3455,timer-2:3456
      - storage__backend=leveldown
      - storage__path=/var/data/skyring
    networks:
      - skyring
    depends_on:
      - nats-a
      - nats-b
      - nats-c

  timer-3:
    build:
      context: https://github.com/esatterwhite/skyring.git#master
    image: aloes/timer-api:latest
    hostname: timer-3
    restart: always
    environment:
      - DEBUG=*
      - channel__host=timer-3
      - nats__hosts=nats-a:4222,nats-b:4222,nats-c:4222
      - seeds=timer-1:3455,timer-2:3456
      - storage__backend=leveldown
      - storage__path=/var/data/skyring
    networks:
      - skyring
    depends_on:
      - nats-a
      - nats-b
      - nats-c
      - timer-1
      - timer-2

  timer-4:
    build:
      context: https://github.com/esatterwhite/skyring.git#master
    image: aloes/timer-api:latest
    hostname: timer-4
    restart: always
    environment:
      - DEBUG=*
      - channel__host=timer-4
      - nats__hosts=nats-a:4222,nats-b:4222,nats-c:4222
      - seeds=timer-1:3455,timer-2:3456
      - storage__backend=leveldown
      - storage__path=/var/data/skyring
    networks:
      - skyring
    depends_on:
      - nats-a
      - nats-b
      - nats-c
      - timer-1
      - timer-2

  timer-5:
    build:
      context: https://github.com/esatterwhite/skyring.git#master
    image: aloes/timer-api:latest
    hostname: timer-5
    restart: always
    environment:
      - DEBUG=*
      - channel__host=timer-5
      - nats__hosts=nats-a:4222,nats-b:4222,nats-c:4222
      - seeds=timer-1:3455,timer-2:3456
      - storage__backend=leveldown
      - storage__path=/var/data/skyring
    networks:
      - skyring
    depends_on:
      - nats-a
      - nats-b
      - nats-c
      - timer-1
      - timer-2
      - timer-3
      - timer-4

  nats-a:
    image: nats:latest
    restart: always
    volumes:
      - ./config/nats:/tmp
    command: >
      -c /tmp/a.conf -D
    networks:
      - skyring

  nats-b:
    image: nats:latest
    restart: always
    volumes:
      - ./config/nats:/tmp
    command: >
      -c /tmp/b.conf -D
    depends_on:
      - nats-a
    networks:
      - skyring

  nats-c:
    image: nats:latest
    restart: always
    volumes:
      - ./config/nats:/tmp
    depends_on:
      - nats-a
    command: >
      -c /tmp/c.conf -D
    networks:
      - skyring

  timer-proxy:
    image: nginx:latest
    restart: always
    volumes:
      - ./config/nginx/skyring.conf:/etc/nginx/nginx.conf
    ports:
      - '${TIMER_SERVER_PORT}:80'
    networks:
      - skyring
    depends_on:
      - timer-1
      - timer-2
      - timer-3
      - timer-4
      - timer-5

  mqtt-api-1:
    env_file: ./config/device-manager/.env
    environment:
      - SERVER_LOGGER_LEVEL=4
      - HTTP_INSTANCES_COUNT=6
      - MQTT_INSTANCES_COUNT=2
    build:
      context: https://framagit.org/aloes/device-manager.git#staging
      dockerfile: ./config/docker/broker.dockerfile
    image: aloes/mqtt-api:latest
    volumes:
      - ./config/device-manager/.env:/home/node/device-manager/.env:ro
    restart: always
    depends_on:
      - redis
    networks:
      - aloes

  mqtt-api-2:
    env_file: ./config/device-manager/.env
    environment:
      - SERVER_LOGGER_LEVEL=4
      - HTTP_INSTANCES_COUNT=6
      - MQTT_INSTANCES_COUNT=2
    build:
      context: https://framagit.org/aloes/device-manager.git#staging
      dockerfile: ./config/docker/broker.dockerfile
    image: aloes/mqtt-api:latest
    volumes:
      - ./config/device-manager/.env:/home/node/device-manager/.env:ro
    restart: always
    depends_on:
      - redis
      - mqtt-api-1
    networks:
      - aloes

  http-api-1:
    env_file: ./config/device-manager/.env
    environment:
      - SERVER_LOGGER_LEVEL=4
      - INSTANCES_COUNT=2
      - INSTANCES_PREFIX=1
      - HTTP_INSTANCES_COUNT=6
      - MQTT_INSTANCES_COUNT=2
    build:
      context: https://framagit.org/aloes/device-manager.git#staging
      dockerfile: ./config/docker/server.dockerfile
    image: aloes/http-api:latest
    restart: always
    volumes:
      - ./config/device-manager/.env:/home/node/device-manager/.env:ro
      - apivolume:/home/node/device-manager/storage
    depends_on:
      - mongo
      - influxdb
      - redis
      - timer-proxy
      - mqtt-api-1
      - mqtt-api-2
    networks:
      - aloes

  http-api-2:
    env_file: ./config/device-manager/.env
    environment:
      - SERVER_LOGGER_LEVEL=4
      - INSTANCES_COUNT=2
      - INSTANCES_PREFIX=2
      - HTTP_INSTANCES_COUNT=6
      - MQTT_INSTANCES_COUNT=2
    build:
      context: https://framagit.org/aloes/device-manager.git#staging
      dockerfile: ./config/docker/server.dockerfile
    image: aloes/http-api:latest
    restart: always
    volumes:
      - ./config/device-manager/.env:/home/node/device-manager/.env:ro
      - apivolume:/home/node/device-manager/storage
    depends_on:
      - mongo
      - influxdb
      - redis
      - timer-proxy
      - mqtt-api-1
      - mqtt-api-2
      - http-api-1
    networks:
      - aloes

  http-api-3:
    env_file: ./config/device-manager/.env
    environment:
      - SERVER_LOGGER_LEVEL=4
      - INSTANCES_COUNT=2
      - INSTANCES_PREFIX=3
      - HTTP_INSTANCES_COUNT=6
      - MQTT_INSTANCES_COUNT=2
    build:
      context: https://framagit.org/aloes/device-manager.git#staging
      dockerfile: ./config/docker/server.dockerfile
    image: aloes/http-api:latest
    restart: always
    volumes:
      - ./config/device-manager/.env:/home/node/device-manager/.env:ro
      - apivolume:/home/node/device-manager/storage
    depends_on:
      - mongo
      - influxdb
      - redis
      - timer-proxy
      - mqtt-api-1
      - mqtt-api-2
      - http-api-1
      - http-api-2
    networks:
      - aloes

  client:
    environment:
      - VUE_APP_NAME=${APP_NAME}
      - VUE_APP_ROOT_API=${REST_API_ROOT}
      - VUE_APP_DOMAIN=${PROXY_DOMAIN}
      - VUE_APP_SERVER_URL=${PROXY_HTTP_SERVER_URL}
      - VUE_APP_BROKER_URL=${PROXY_WS_BROKER_URL}
      - VUE_APP_CLIENT_URL=${PROXY_HTTP_CLIENT_URL}
      - VUE_APP_LOGGER_LEVEL=4
      - GIT_REPO_SSH_URL=git@framagit.org:aloes/aloes-client.git
    build:
      context: https://framagit.org/aloes/aloes-client.git#staging
      dockerfile: Dockerfile
      args:
        - VUE_APP_NAME=${APP_NAME}
        - VUE_APP_ROOT_API=${REST_API_ROOT}
        - VUE_APP_DOMAIN=${PROXY_DOMAIN}
        - VUE_APP_SERVER_URL=${PROXY_HTTP_SERVER_URL}
        - VUE_APP_BROKER_URL=${PROXY_WS_BROKER_URL}
        - VUE_APP_CLIENT_URL=${PROXY_HTTP_CLIENT_URL}
        - VUE_APP_LOGGER_LEVEL=4
        - GIT_REPO_SSH_URL=git@framagit.org:aloes/aloes-client.git
    image: aloes/aloes-client:0.5
    depends_on:
      - mqtt-api-1
      - mqtt-api-2
      - http-api-1
      - http-api-2
      - http-api-3
    networks:
      - aloes

  aloes-lb-1:
    environment:
      - WS_BROKER_PORT=${WS_BROKER_PORT}
      - MQTT_BROKER_PORT=${MQTT_BROKER_PORT}
      - HTTP_SERVER_PORT=${HTTP_SERVER_PORT}
      - LB_HTTP_SERVER_PORT=${LB_HTTP_SERVER_PORT}
      - LB_TCP_SERVER_PORT=${LB_TCP_SERVER_PORT}
      - LB_SERVER_HOST=${LB_SERVER_HOST}
      - PROXY_IP=${PROXY_IP}
    build:
      context: ./config/nginx/
      dockerfile: lb-dockerfile
    restart: always
    volumes:
      - ./config/nginx/aloes-lb.template:/etc/nginx/nginx.template
      - ./log/nginx:/etc/nginx/log
    depends_on:
      - mqtt-api-1
      - mqtt-api-2
      - http-api-1
      - http-api-2
      - http-api-3
      - client
    ports:
      - '${LB_HTTP_SERVER_PORT}:${LB_HTTP_SERVER_PORT}'
      - '${LB_TCP_SERVER_PORT}:${LB_TCP_SERVER_PORT}'
    networks:
      - aloes
    command: /bin/bash -c "envsubst '$${HTTP_SERVER_PORT},$${WS_BROKER_PORT},$${MQTT_BROKER_PORT},$${LB_TCP_SERVER_PORT},$${LB_HTTP_SERVER_PORT},$${LB_SERVER_HOST},$${PROXY_IP}' < /etc/nginx/nginx.template > /etc/nginx/nginx.conf && exec nginx -g 'daemon off;'"

volumes:
  mongovolume:
  redisvolume:
  influxvolume:
  apivolume:
